@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mainContainer {
  @apply w-full max-w-maxWDesktop mx-auto;
}

.gradientDefault {
  background-image: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
}

.gradientDefaultNoHover {
  background-image: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
}

.gradientDefault:hover {
  background-image: linear-gradient(102.47deg, #1667D9 -5.34%, #F279F2 106.58%);
}

.gradientHeroIllustration {
  background-image: linear-gradient(102.47deg, #7296EB -5.34%, #EAC0E9 106.58%, #EAC0E9 106.58%);
}

.gradientHeroIllustration50Opacity {
  background-image: linear-gradient(102.47deg, rgba(23, 111, 235, 0.5) -5.34%, rgba(255, 128, 255, 0.5) 106.58%);
}

.Toastify__toast {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  box-shadow: none;
}

.Toastify__toast-container {
  width: auto;
  height: auto;
  background-color: transparent !important;
}

@media screen and (max-width: 768px) {

  .Toastify__toast-container {
    left: 0;
    width: 100%;
  }
}